$color-primary: hsla(359%, 68%, 48%, 1);
$color-black: hsla(270%, 2%, 21%, 1);
$color-white: hsla(174%, 38%, 95%, 1);

$color-error: hsla(0%, 75%, 50%, 1);

$color-svg-margin: hsla(210%, 100%, 50%, 1);
