<template>
  <div class="help">
    <h2>Pomoc do programu</h2>
    <h3>Wprowadzenie</h3>
    <p>
      Niniejsze narzędzie powstało do automatyzacji rysowania schematów przejść
      drogowych dla kabli światłowodowych. Nie słuzy do obliczeń, walidacji,
      etc., a jedynie do rysowania gotowych projektów.
    </p>
    <h4>Jednostki</h4>
    <p>
      Wszystkie długości wykorzystywane w programie są podane w metrach.
      <span class="emph">
        Dotyczy to także marginesów, rozmiaru tekstu i innych elementów.
      </span>
    </p>
    <h3>Dane wejściowe</h3>
    <p>
      Dane projektowanych przejść są podawane w formacie <code>.csv</code>, w
      formacie pokrywającym się z domyślnymi ustawieniami dla polskiej wersji
      programu Microsoft Excel&reg;. Początkowe dwie linie definiują
      konfigurację globalnych ustawień programu (tj. dla wszystkich przejść),
      natomiast kolejne linie dotyczą poszczególnych przejść.
    </p>
    <p class="emph">
      Aby uzyskać początek pliku kompatybilny z programem, naciśnij przycisk
      "Wstaw szablon"
    </p>
    <h4>Konfiguracja</h4>
    <p>
      Następujące ustawienia są rozpoznawane w kolejności podanej w pierwszej
      linii. Jesli nie są podane, są zastąpione domyślnymi wartościami
    </p>
    <dl>
      <dt>start x, start y</dt>
      <dd>
        Współrzędne punktu w którym znajdzie się lewy górny róg rysunku
        pierwszego przejścia
      </dd>
      <dt>szerokość rysunku, wysokość rysunku</dt>
      <dd>
        Wymiary pojedynczego schematu. Służy do układania na stronie, więc
        powinny być równe wymiarom arkusza wraz z marginesami etc.
      </dd>
      <dt>dolny margines</dt>
      <dd>
        Wysokość części arkusza zajętej przez tabelkę rysunkową, objaśnienia i
        inne elementy. Służy tylko do wizualizacji w przeglądarce
      </dd>
      <dt>liczba w rzędzie</dt>
      <dd>
        Liczba rysunków umieszczonych w jednym poziomym rzędzie, kolejne są
        dodawane w nowej linii poniżej.
      </dd>
    </dl>
    <h4>Przejścia</h4>
    <p>
      Następujące ustawienia są zawsze rozpoznawane w podanej kolejności.
      <span class="emph"
        >Nawet jeśli w trzeciej linii zostaną wpisane inaczej
      </span>
    </p>
    <dl>
      <dt>nazwa</dt>
      <dd>Nazwa przejścia drogowego</dd>
      <dt>kilometraż</dt>
      <dd>Tekst umieszczony poniżej nazwy przejścia</dd>
      <dt>x 1</dt>
      <dd>Odległość pozioma od lewego słupa do lewej krawędzi drogi</dd>
      <dt>x 2</dt>
      <dd>Odległość pozioma od lewego słupa do prawej krawędzi drogi</dd>
      <dt>x 3</dt>
      <dd>Odległość pozioma od lewego słupa do prawego słupa</dd>
      <dt>h 1</dt>
      <dd>Wysokość bezwzględna podstawy lewego słupa</dd>
      <dt>h 2</dt>
      <dd>Wysokość bezwzględna jezdni</dd>
      <dt>h 3</dt>
      <dd>Wysokość bezwzględna podstawy prawego słupa</dd>
    </dl>
    <p class="emph">
      W poniższych parametrach "1" dotyczy lewego słupa, a "2" prawego
    </p>
    <dl>
      <dt>nazwa 1, 2</dt>
      <dd>Nazwa (lub numer) słupa</dd>
      <dt>typ 1, 2</dt>
      <dd>Typ (model) słupa</dd>
      <dt>długość 1, 2</dt>
      <dd>Całkowita pionowa długość słupa, włącznie z zakopaną częścią</dd>
      <dt>liczba istniejących kabli</dt>
      <dd>
        Liczba już istniejących kabli podwieszonych ponad projektowanym
        <span class="emph">Mają taki sam kształt jak projektowany kabel</span>
      </dd>
      <dt>podwieszenie 1, 2</dt>
      <dd>
        Na którym miejscu z kolei podwieszony jest projektowany kabel na danym
        słupie, gdzie numer 1 oznacza szczyt słupa.
      </dd>
      <dt>zwis</dt>
      <dd>
        Kabel jest rysowany jako fragment okręgu przechodzący przez trzy punky.
        Skrajne punkty są w miejscu podwieszenia do słupów, a punkt pomiędzy
        nimi jest położony o "zwis" niżej od środkowego punktu odcinka łączącego
        punkty zaczepienia.
      </dd>
      <dt>odstęp kabli</dt>
      <dd>Pionowa odgległość pomiędzy punktami zaczepienia na słupach</dd>
      <dt>skrajnia pionowa</dt>
      <dd>Odległość skrajni pionowej nad jezdnią</dd>
    </dl>
    <h3>Podgląd rysunku</h3>
    <p>
      W tym polu można obejrzeć układ całego rysunku. Obszar podglądu można
      przeciągać myszką, aby obejrzeć inne schematy. Przyciski "-" oraz "+"
      zwiększają ilość przejść mieszczących się jednocześnie w podglądzie.
    </p>
    <h3>Zapis rysunku</h3>
    <p>
      Plik skryptu <code>.scr</code> można załadować także do AutoCAD LT, w
      przeciwieństwie do makr Lisp. Przed wygenerowaniem skryptu współrzędna Y
      ma znak zmieniany na przeciwny, ponieważ w przeglądarce oś Y skierowana
      jest w dół, a w AutoCAD do góry.
    </p>
    <p class="emph">
      Najłatwiej jest wykonać skrypt przeciągając pobrany plik na okno
      docelowego rysunku AutoCAD.
    </p>
  </div>
</template>

<style lang="scss" scoped>
.emph {
  font-style: italic;
}
dt {
  font-weight: bold;
  margin-top: 0.5em;
  &:after {
    content: ': ';
  }
}
dd {
  margin-left: 1em;
}
</style>
