<template>
  <div class="home">
    <section class="card">
      <StageInput />
    </section>
    <!-- <section class="card">
      <StageLayout />
    </section> -->
    <section class="card">
      <StagePreview />
    </section>
    <section class="card">
      <StageSave />
    </section>
  </div>
</template>

<script>
import StageInput from '@/components/StageInput.vue'
// import StageLayout from '@/components/StageLayout.vue'
import StagePreview from '@/components/StagePreview.vue'
import StageSave from '@/components/StageSave.vue'

export default {
  components: {
    StageInput,
    // StageLayout,
    StagePreview,
    StageSave,
  },
}
</script>

<style lang="scss" scoped>
.card {
  border: solid 1px $color-black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}
</style>
