<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
    <!-- Chicken by tezar tantular from the Noun Project -->
    <g fill="currentColor">
      <path
        d="M14 33H9a2 2 0 01-2-2 1 1 0 01.29-.71l6-6A1 1 0 0114 24a2 2 0 012 2v5a2 2 0 01-2 2zm-4.59-2H14v-4.59zm5-5zM14 26z"
      />
      <path
        d="M12 41a3 3 0 01-3-3 3.9 3.9 0 01.84-2.41l3.38-4.21a1 1 0 011.11-.32A1 1 0 0115 32v6a3 3 0 01-3 3zm1-6.15l-1.59 2A1.83 1.83 0 0011 38a1 1 0 002 0z"
      />
      <path
        d="M33.65 57h-.43A20.91 20.91 0 0113 36v-4a1 1 0 011-1v-5a1 1 0 01-1-1v-1a11 11 0 0118.78-7.78A11 11 0 0135 24a7 7 0 007 7h14a1 1 0 01.92.62 1 1 0 01-.21 1.09L53.41 36h2.34a1 1 0 011 1.15A23.39 23.39 0 0133.65 57zM15 32.73V36a18.9 18.9 0 0018.26 19 21.37 21.37 0 0021.3-17H51a1 1 0 01-.92-.62 1 1 0 01.21-1.09l3.3-3.29H42a9 9 0 01-9-9 8.79 8.79 0 00-.9-3.91 8.44 8.44 0 00-1.74-2.45A9 9 0 0015 24v.27A2 2 0 0116 26v5a2 2 0 01-1 1.73z"
      />
      <path
        d="M33 20.65a1 1 0 01-.9-.57 8.54 8.54 0 00-1.74-2.44 9 9 0 00-11.76-.83 1 1 0 01-1.05.09A1 1 0 0117 16v-5.5a3.5 3.5 0 016.47-1.85 3.46 3.46 0 012-.65 3.51 3.51 0 013.33 2.42A3.51 3.51 0 0134 13.5v6.15a1 1 0 01-.78 1zm-4.2-6.55a11 11 0 013 2.12l.22.23V13.5a1.5 1.5 0 00-3 0 1 1 0 01-.22.6zM20.5 9a1.5 1.5 0 00-1.5 1.5v3.7a11.15 11.15 0 018-.79V11.5a1.5 1.5 0 00-3 0 1 1 0 01-2 0v-1A1.5 1.5 0 0020.5 9zM39.36 49H35a11 11 0 01-11-10.48 1 1 0 112-.1A9 9 0 0035 47h4.36A1.61 1.61 0 0041 45.66a1.55 1.55 0 00-.38-1.17A1.53 1.53 0 0039.5 44h-3a1 1 0 010-2 1.53 1.53 0 001.12-.49 1.55 1.55 0 00.38-1.17A1.61 1.61 0 0036.36 39H33.5a1 1 0 010-2 1.53 1.53 0 001.12-.49 1.55 1.55 0 00.38-1.17A1.61 1.61 0 0033.36 34H30a1 1 0 010-2h3.36a3.49 3.49 0 013.3 5 3.48 3.48 0 013 5A3.51 3.51 0 0143 45.86 3.61 3.61 0 0139.36 49z"
      />
      <circle cx="21.5" cy="21.5" r="1.5" />
    </g>
  </svg>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
svg {
  display: inline-block;
  width: 64px;
}
</style>
