<template>
  <g class="cables">
    <path :d="pathD(0)" class="cable cable-designed" />
    <path
      v-for="(offset, index) in existingOffsets"
      :key="index"
      :d="pathD(offset)"
      class="cable cable-existing"
    />
  </g>
</template>

<script>
export default {
  props: {
    x1: {
      type: Number,
      required: true,
    },
    y1: {
      type: Number,
      required: true,
    },
    x2: {
      type: Number,
      required: true,
    },
    y2: {
      type: Number,
      required: true,
    },
    slot1: {
      type: Number,
      default: 1,
    },
    slot2: {
      type: Number,
      default: 1,
    },
    slack: {
      type: Number,
      default: 1,
    },
    existingCables: {
      type: Number,
      default: 1,
    },
    cableSpacing: {
      type: Number,
      default: 0.7,
    },
  },
  computed: {
    // for the end-user, the top slot with no offset has number 1
    designY1() {
      return this.y1 + this.cableSpacing * (this.slot1 - 1)
    },
    designY2() {
      return this.y2 + this.cableSpacing * (this.slot2 - 1)
    },
    centralPoint() {
      return {
        x: (this.x1 + this.x2) / 2,
        y: (this.designY1 + this.designY2) / 2 + this.slack,
      }
    },
    controlPoint() {
      return {
        x: this.centralPoint.x - (this.x2 - this.x1) / 4,
        y: this.centralPoint.y - (this.designY2 - this.designY1) / 4,
      }
    },
    existingOffsets() {
      let offsets = []
      for (let i = 1; i <= this.existingCables; i++) {
        offsets.push(-i * this.cableSpacing)
      }
      return offsets
    },
  },
  methods: {
    pathD(offsetY) {
      // prettier-ignore
      return `M ${this.x1} ${this.designY1 + offsetY} ` +
      `Q ${this.controlPoint.x} ${this.controlPoint.y + offsetY} ${this.centralPoint.x} ${this.centralPoint.y + offsetY} ` +
      `T ${this.x2} ${this.designY2 + offsetY}`
    },
  },
}
</script>

<style lang="scss" scoped>
.cable {
  fill: none;
  stroke: black;
  stroke-width: 0.2;
}
.cable-designed {
  stroke-dasharray: 1, 1;
}
</style>
