<template>
  <g class="pole">
    <!-- prettier-ignore -->
    <polyline class="pole-body" :points="
      x + ',' + bottomY + ' ' +
      x + ',' + (bottomY - totalLength)
    " />
    <g class="annotation-pole">
      <text class="annotation" :x="x" :y="bottomY + 2 * lineHeight">
        {{ mapNumber }}
      </text>
      <text class="annotation" :x="x" :y="bottomY + 3 * lineHeight">
        {{ typeName }}
      </text>
    </g>
  </g>
</template>

<script>
export default {
  props: {
    x: {
      type: Number,
      required: true,
    },
    y: {
      type: Number,
      required: true,
    },
    totalLength: {
      type: Number,
      required: true,
    },
    typeName: {
      type: String,
      default: '',
    },
    mapNumber: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      buryDepth: 0.2, // a part of total length
      slotOffset: 0.1, // absolute value
      lineHeight: 0.9,
    }
  },
  computed: {
    bottomY() {
      return this.y + this.totalLength * this.buryDepth
    },
    slotY() {
      return this.bottomY - this.totalLength + this.slotOffset
    },
  },
  watch: {
    slotY(newValue) {
      this.$emit('update:slot-y', newValue)
    },
  },
  created() {
    this.$emit('update:slot-y', this.slotY)
  },
}
</script>

<style lang="scss" scoped>
.pole {
  fill: none;
  stroke: black;
  stroke-width: 0.1;
}
.annotation-pole {
  text-anchor: middle;
  fill: black;
  stroke: none;
  font-size: 0.8px;
}
</style>
