<template>
  <g class="sheet">
    <g class="layer-margins">
      <rect
        :x="origin.x"
        :y="origin.y"
        :width="config.sheetWidth"
        :height="config.sheetHeight"
      />
      <line
        :x1="origin.x"
        :y1="paddingY"
        :x2="origin.x + config.sheetWidth"
        :y2="paddingY"
      />
    </g>
    <g class="annotation-top">
      <text
        class="annotation"
        :x="origin.x + config.sheetWidth / 2"
        :y="origin.y + 6.5"
      >
        {{ name }}
      </text>
      <text
        class="annotation"
        :x="origin.x + config.sheetWidth / 2"
        :y="origin.y + 7.5"
      >
        {{ mileage }}
      </text>
      <text
        class="annotation"
        :x="origin.x + config.sheetWidth / 2"
        :y="origin.y + 10.5"
      >
        Rozpiętość przęsła: {{ x3 | dimtext(0) }}
      </text>
    </g>
    <!-- prettier-ignore -->
    <g class="terrain">
      <polyline class="terrain-side" :points="
          (tPoints[0].x - terrainMargin) + ',' + tPoints[0].y + ' ' +
          tPoints[1].x + ',' + tPoints[1].y + ' ' +
          tPoints[2].x + ',' + tPoints[2].y
      " />
      <polyline class="road" :points="
          tPoints[2].x + ',' + tPoints[2].y + ' ' +
          tPoints[3].x + ',' + tPoints[3].y
      " />
      <polyline class="vborder" :points="
          tPoints[2].x + ',' + (tPoints[2].y - vborder) + ' ' +
          tPoints[3].x + ',' + (tPoints[3].y - vborder)
      " />
      <polyline class="terrain-side" :points="
          tPoints[3].x + ',' + tPoints[3].y + ' ' +
          tPoints[4].x + ',' + tPoints[4].y + ' ' +
          (tPoints[5].x + terrainMargin) + ',' + tPoints[5].y
      " />
    </g>
    <DrawingPole
      :x="tPoints[0].x"
      :y="tPoints[0].y"
      :total-length="length1"
      :type-name="type1"
      :map-number="name1"
      @update:slot-y="updateSlotY(1, $event)"
    />
    <DrawingPole
      :x="tPoints[5].x"
      :y="tPoints[5].y"
      :total-length="length2"
      :type-name="type2"
      :map-number="name2"
      @update:slot-y="updateSlotY(2, $event)"
    />
    <component :is="cableComponent" v-bind="cableProps" />
    <DrawingMarkerHeight :x="tPoints[1].x - 1" :y="tPoints[1].y" :h="h1" />
    <DrawingMarkerHeight
      :x="h1 > h3 ? tPoints[2].x + 1 : tPoints[3].x - 1"
      :y="tPoints[2].y"
      :h="h2"
    />
    <DrawingMarkerHeight :x="tPoints[4].x + 1" :y="tPoints[4].y" :h="h3" />
    <text
      class="annotation-number"
      :x="origin.x + config.sheetWidth - 1"
      :y="origin.y + config.sheetHeight - 2.7"
    >
      <!-- user expects numbering sheets from 1 -->
      {{ $store.getters.getCrossingIndexById(crossingId) + 1 }}/{{
        $store.getters.getCrossingCount
      }}
    </text>
  </g>
</template>

<script>
import { mapState } from 'vuex'
import DrawingCable from '@/components/DrawingCable.vue'
import DrawingPole from '@/components/DrawingPole.vue'
import DrawingMarkerHeight from '@/components/DrawingMarkerHeight.vue'

export default {
  components: {
    DrawingCable,
    DrawingPole,
    DrawingMarkerHeight,
  },
  props: {
    crossingId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      ...this.$store.getters.getCrossingById(this.crossingId),
      roadRelativeY: 26,
      sideWidth: 2,
      terrainMargin: 4,
      poleHeight: 8,
      slotY1: null,
      slotY2: null,
      cableComponent: null,
      cableProps: null,
    }
  },
  computed: {
    paddingY() {
      return (
        this.origin.y + this.config.sheetHeight - this.config.sheetBottomPadding
      )
    },
    origin() {
      let index = this.$store.getters.getCrossingIndexById(this.crossingId)
      let row = Math.floor(index / this.config.rowCount)
      let column = index % this.config.rowCount
      return {
        x: this.config.startX + column * this.config.sheetWidth,
        y: this.config.startY + row * this.config.sheetHeight,
      }
    },
    tx() {
      // terrain origin x
      return this.origin.x + (this.config.sheetWidth - this.x3) / 2
    },
    ty() {
      // terrain origin y
      return this.origin.y + this.roadRelativeY + this.h2
    },
    tPoints() {
      // terrain points
      return [
        { x: this.tx, y: this.ty - this.h1 },
        { x: this.tx + this.x1 - this.sideWidth, y: this.ty - this.h1 },
        { x: this.tx + this.x1, y: this.ty - this.h2 },
        { x: this.tx + this.x2, y: this.ty - this.h2 },
        { x: this.tx + this.x2 + this.sideWidth, y: this.ty - this.h3 },
        { x: this.tx + this.x3, y: this.ty - this.h3 },
      ]
    },
    ...mapState(['config']),
  },
  methods: {
    updateSlotY(id, value) {
      if (id == 1) this.slotY1 = value
      else if (id == 2) this.slotY2 = value

      if (this.slotY1 && this.slotY2) {
        this.cableProps = {
          x1: this.tPoints[0].x,
          y1: this.slotY1,
          x2: this.tPoints[5].x,
          y2: this.slotY2,
          slot1: this.slot1,
          slot2: this.slot2,
          slack: this.slack,
          existingCables: this.existingCables,
          cableSpacing: this.cableSpacing,
        }
        this.cableComponent = DrawingCable
      }
    },
  },
}
</script>

<style lang="scss" scoped>
svg {
  .layer-margins {
    stroke: $color-svg-margin;
    fill: none;
    stroke-width: 0.1;
  }
  .terrain {
    fill: none;
    stroke: black;
    stroke-width: 0.1;
  }
  .road {
    stroke-width: 0.3;
  }
  .vborder {
    stroke-width: 0.3;
    stroke: orange;
    stroke-dasharray: 0.5, 0.5;
  }
  .annotation-top {
    text-anchor: middle;
    fill: black;
    stroke: none;
    font-size: 0.8px;
  }
  .annotation-number {
    text-anchor: end;
    fill: black;
    stroke: none;
    font-size: 0.45px;
  }
}
</style>
