<template>
  <g>
    <!-- prettier-ignore -->
    <polyline class="marker marker-height" :points="
        x + ',' + (y - 1) + ' ' +
        x + ',' + y + ' ' +
        (x - 0.4) + ',' + (y - 0.4) + ' ' +
        (x + 0.4) + ',' + (y - 0.4)
    " />
    <text class="annotation annotation-height" :x="x - 0.2" :y="y - 0.6">
      {{ h | dimtext }}
    </text>
  </g>
</template>

<script>
export default {
  props: {
    x: {
      type: Number,
      required: true,
    },
    y: {
      type: Number,
      required: true,
    },
    h: {
      type: Number,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.marker-height {
  fill: none;
  stroke: black;
  stroke-width: 0.1;
}
.annotation-height {
  text-anchor: end;
  font-size: 0.4px;
}
</style>
