<template>
  <div id="top-bar">
    <div class="brand bar-item">
      <router-link to="/">
        <AppIcon />
        <h1>Kura na słupie</h1>
      </router-link>
    </div>
    <nav class="bar-item">
      <router-link :to="{ name: 'home' }">Edytor</router-link>
      <span> | </span>
      <router-link :to="{ name: 'help' }">Pomoc</router-link>
    </nav>
  </div>
</template>

<script>
import AppIcon from '@/components/AppIcon.vue'

export default {
  components: {
    AppIcon,
  },
}
</script>

<style lang="scss" scoped>
#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: $color-primary;

  a {
    color: inherit;
    text-decoration: inherit;
    display: flex;
  }

  h1 {
    display: inline;
    margin-left: 10px;
  }
}

nav {
  display: flex;

  a {
    font-weight: bold;
    color: $color-primary;
    text-decoration: none;

    &.router-link-exact-active {
      color: $color-black;
      text-decoration: underline;
    }
  }
}

.bar-item {
  display: flex;
  justify-content: center;
}
</style>
