<template>
  <div>
    <h3>3. Zapis rysunku</h3>
    <textarea
      v-model="scriptContents"
      type="text"
      rows="5"
      placeholder="Skrypt z tego pola wklej do konsoli AutoCAD"
      readonly
    ></textarea>
    <button @click="createScripts">Utwórz skrypt AutoCAD&reg;</button>
    <button v-clipboard="() => scriptContents">Skopiuj tekst</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sheetScripts: [],
      previewSvg: null,
      layerNames: {
        'cable-existing': 'Kabel-istniejacy',
        'cable-designed': 'Kabel-projektowany',
        road: 'Jezdnia',
        'terrain-side': 'Teren',
        vborder: 'Skrajnia',
        'pole-body': 'Slupy-schemat',
        annotation: 'Adnotacje',
        'marker-height': 'Teren',
        'annotation-height': 'Teren',
        'annotation-number': 'Adnotacje',
      },
    }
  },
  computed: {
    scriptContents() {
      return this.sheetScripts.join('') // Every command ends with newline anyway
    },
  },
  methods: {
    createScripts() {
      if (!this.previewSvg)
        this.previewSvg = document.getElementById('preview-svg')

      this.sheetScripts = []

      for (let i = 0; i < this.previewSvg.childNodes.length; i++) {
        const node = this.previewSvg.childNodes[i]
        if (node.nodeName == 'g' && node.classList.contains('sheet')) {
          this.createSheetScript(node)
        }
      }
    },
    createSheetScript(gSheet) {
      let script = ''

      for (let i = 0; i < gSheet.childNodes.length; i++) {
        const child = gSheet.childNodes[i]
        if (child.classList.contains('layer-margins')) continue
        else {
          script = script.concat(this.createCommand(child))
        }
      }

      this.sheetScripts.push(script)
    },
    createCommand(node) {
      // Flip Y-coordinate due to AutoCAD's different coordinate system
      if (node.nodeName == 'g') {
        let groupScript = ''
        for (let i = 0; i < node.childNodes.length; i++) {
          groupScript = groupScript.concat(
            this.createCommand(node.childNodes[i])
          )
        }
        return groupScript
      } else if (node.nodeName == 'polyline') {
        return (
          this.layerPrefix(node) +
          'LINE ' +
          node
            .getAttribute('points')
            .replace(/-/g, '_') // identify negative Y-coords before swap
            .replace(/,/g, ',-') // prepend minus to all Y-coords
            .replace(/-_/g, '') + // remove double minus sign
          '\n\n'
        )
      } else if (node.nodeName == 'path' && node.classList.contains('cable')) {
        // expected params for the path
        // "M" x1 y1 "Q" x-control y-control x-central y-central "T" x2 y2
        let params = node.getAttribute('d').split(' ')
        let x1 = params[1],
          y1 = params[2],
          xc = params[6],
          yc = params[7],
          x2 = params[9],
          y2 = params[10]

        return (
          this.layerPrefix(node) +
          `ARC ${x1},${-y1} ${xc},${-yc} ${x2},${-y2}\n`
        )
      } else if (node.nodeName == 'text') {
        let x = parseFloat(node.getAttribute('x')),
          y = parseFloat(node.getAttribute('y')),
          content = node.innerHTML,
          anchor = window.getComputedStyle(node).textAnchor,
          size = window.getComputedStyle(node).fontSize.slice(0, -2) // remove 'px' suffix

        let justify = 'L'
        if (anchor == 'middle') justify = 'C'
        else if (anchor == 'end') justify = 'R'

        return (
          this.layerPrefix(node) +
          `-TEXT J ${justify} ${x},${-y} ${size} 0 ${this.depolishize(
            content
          )}\n`
        )
      }
      return ''
    },
    layerPrefix(node) {
      // For a class to appear in classList it needs to be directly bound to element with class attribute
      for (let i = 0; i < Object.keys(this.$data.layerNames).length; i++) {
        const name = Object.keys(this.$data.layerNames)[i]
        if (node.classList.contains(name)) {
          return `-LAYER M ${this.$data.layerNames[name]}\n\n`
        }
      }
      console.error(
        `Node ${node.nodeName} with ${node.classList.length} classes did not match any class in layerNames`
      )
    },
    depolishize(text) {
      // prettier-ignore
      return text.replace(/ą/g, 'a').replace(/Ą/g, 'A')
        .replace(/ć/g, 'c').replace(/Ć/g, 'C')
        .replace(/ę/g, 'e').replace(/Ę/g, 'E')
        .replace(/ł/g, 'l').replace(/Ł/g, 'L')
        .replace(/ń/g, 'n').replace(/Ń/g, 'N')
        .replace(/ó/g, 'o').replace(/Ó/g, 'O')
        .replace(/ś/g, 's').replace(/Ś/g, 'S')
        .replace(/ż/g, 'z').replace(/Ż/g, 'Z')
        .replace(/ź/g, 'z').replace(/Ź/g, 'Z')
    },
  },
}
</script>

<style lang="scss" scoped>
textarea {
  width: 100%;
}
</style>
