<template>
  <div>
    <h3>2. Ułożenie elementów</h3>
    <p>W bazie istnieje {{ crossingCount }} przejść</p>
    <!-- TODO: draggable grid of sheet miniatures to reorder sheets -->
    <button @click="updateLayout">Aktualizuj ułożenie</button>
  </div>
</template>

<script>
export default {
  computed: {
    crossingCount() {
      return this.$store.state.crossing.crossings.length
    },
  },
  methods: {
    updateLayout() {},
  },
}
</script>

<style lang="scss" scoped></style>
