<template>
  <div>
    <h3>1. Dane wejściowe</h3>
    <input type="file" accept=".csv" @change="selectedFile" />
    <textarea
      v-model="inputText"
      type="text"
      rows="5"
      placeholder="Tutaj wklej zawartość pliku .csv"
      wrap="off"
    ></textarea>
    <button @click="setTemplateCsv">Wstaw szablon</button>
    <button @click="downloadCsv">Pobierz jako .csv</button>
    <button @click="parseCsv">Wczytaj dane</button>
    <p :class="[statusError ? 'error-text' : '']">{{ statusText }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputText: '',
      statusText: '',
      statusError: false,
    }
  },
  methods: {
    selectedFile(event) {
      console.log(event.target.files)
      if (event.target.files.length > 0) {
        event.target.files[0].text().then(text => (this.inputText = text))
      }
    },
    setTemplateCsv() {
      this.$store.dispatch('getConfigCsv').then(payload => {
        this.inputText =
          payload +
          'nazwa;kilometraż;x 1;x 2;x 3;h 1;h 2;h 3;nazwa 1;typ 1;długość 1;nazwa 2;typ 2;długość 2;liczba istniejących kabli;podwieszenie 1;podwieszenie 2;zwis;odstęp kabli;skrajnia pionowa\n' +
          'PD-1;km 28+234;5;17;25;156;156,2;157;000;E12;12;OPL;SŻT;10;1;2;2;1,5;0,7;4,6\n'
      })
    },
    parseCsv() {
      let lines = this.inputText.split(/\r?\n/)

      if (lines.length <= 3) {
        this.statusText = 'Za mało linii danych'
        this.statusError = true
        return
      }

      try {
        this.$store.dispatch('parseConfigCsv', lines.slice(0, 2).join('\n'))
      } catch (error) {
        this.statusText = 'Nieprawidłowa konfiguracja: ' + error.message
        this.statusError = true
        return
      }

      let createdCount = 0
      let cleared = false
      for (let i = 3; i < lines.length; i++) {
        if (i == lines.length - 1 && lines[i] == '') break

        const fields = lines[i].split(';')
        if (fields.length != 20) {
          this.statusText = `Za ${
            fields.length > 20 ? 'dużo' : 'mało'
          } pól w linii ${i + 1}` // user expects lines numbered from 1
          this.statusError = true
          return
        }

        let crossing = {
          name: fields[0],
          mileage: fields[1],
          x1: this.numProp(fields[2]),
          x2: this.numProp(fields[3]),
          x3: this.numProp(fields[4]),
          h1: this.numProp(fields[5]),
          h2: this.numProp(fields[6]),
          h3: this.numProp(fields[7]),
          name1: fields[8],
          type1: fields[9],
          length1: this.numProp(fields[10]),
          name2: fields[11],
          type2: fields[12],
          length2: this.numProp(fields[13]),
          existingCables: this.numProp(fields[14]),
          slot1: this.numProp(fields[15]),
          slot2: this.numProp(fields[16]),
          slack: this.numProp(fields[17]),
          cableSpacing: this.numProp(fields[18]),
          vborder: this.numProp(fields[19]),
        }

        if (!cleared) {
          this.$store.dispatch('clearCrossings')
          cleared = true
        }
        this.$store.dispatch('addCrossing', crossing)
        createdCount++
      }

      this.statusText = `Zapisano ${createdCount} przejść drogowych`
      this.statusError = false
    },
    numProp(text) {
      return parseFloat(text.replace(/,/, '.'))
    },
    downloadCsv() {
      if (this.inputText.length == 0) return

      let byteOrderMark = '\uFEFF' // makes Excel open this with UTF-8
      var blob = new Blob([byteOrderMark + this.inputText], {
        type: 'text/csv; charset=utf-8',
      })
      var url = window.URL.createObjectURL(blob)
      var a = document.createElement('a')
      a.href = url
      let timestamp = new Date()
      timestamp = timestamp
        .toISOString()
        .slice(0, 19)
        .replace(/:/g, '-') // colon is a special character in url
      a.download = 'kura-na-slupie_' + timestamp + '.csv'
      a.click()
      a.parentNode.removeChild(a)
      window.URL.revokeObjectURL(url)
    },
  },
}
</script>

<style lang="scss" scoped>
textarea {
  width: 100%;
}
</style>
