<template>
  <div>
    <h3>2. Podgląd rysunku</h3>
    <p>
      Skala arkusza
      <button @click="zoomLevel /= 2">-</button>
      1:{{ zoomLevel }}
      <button @click="zoomLevel *= 2">+</button>
    </p>
    <p>
      Pokaż przejście:
      <br />
      <span v-for="(crs, index) in crossing.crossings" :key="crs.id">
        <button
          class="button-crossing"
          @click="moveTo(crossingX(index), crossingY(index))"
        >
          <!-- user expects numbers from 1 -->
          {{ index + 1 }}
        </button>
        <br v-if="index % config.rowCount == config.rowCount - 1" />
      </span>
    </p>
    <svg
      id="preview-svg"
      ref="previewSvg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMid meet"
      :viewBox="viewBox"
      @mousedown="dragStart($event)"
      @mousemove="dragMove($event)"
      @mouseup="dragEnd($event)"
      @mouseleave="dragEnd($event)"
    >
      <DrawingSheet
        v-for="crs in crossing.crossings"
        :key="crs.id"
        :crossingId="crs.id"
      />
    </svg>
  </div>
</template>

<script>
import DrawingSheet from '@/components/DrawingSheet.vue'
import { mapState } from 'vuex'
import { gsap } from 'gsap'

export default {
  components: {
    DrawingSheet,
  },
  data() {
    return {
      viewBoxMargin: 1,
      viewBoxPosition: { x: 0, y: 0 },
      dragFrom: null,
      zoomLevel: 1.0,
      zoomlLevelAnim: 1.0,
    }
  },
  computed: {
    viewBox() {
      let xywh = [
        this.viewBoxPosition.x - this.viewBoxMargin,
        this.viewBoxPosition.y - this.viewBoxMargin,
        this.config.sheetWidth * this.zoomlLevelAnim + 2 * this.viewBoxMargin,
        this.config.sheetHeight * this.zoomlLevelAnim + 2 * this.viewBoxMargin,
      ]
      return xywh.join(' ')
    },
    ...mapState(['config', 'crossing']),
  },
  watch: {
    zoomLevel(newValue) {
      gsap.to(this.$data, { duration: 0.5, zoomlLevelAnim: newValue })
    },
  },
  methods: {
    dragStart(event) {
      event.preventDefault()
      let ctm = this.$refs.previewSvg.getScreenCTM()
      this.dragFrom = {
        clientX: event.clientX - ctm.e * 0,
        clientY: event.clientY - ctm.f * 0,
        x: this.viewBoxPosition.x,
        y: this.viewBoxPosition.y,
      }
    },
    dragMove(event) {
      if (this.dragFrom) {
        event.preventDefault()
        let ctm = this.$refs.previewSvg.getScreenCTM()
        let deltaX = (event.clientX - this.dragFrom.clientX) / ctm.a
        let deltaY = (event.clientY - this.dragFrom.clientY) / ctm.d

        this.viewBoxPosition.x = this.dragFrom.x - deltaX
        this.viewBoxPosition.y = this.dragFrom.y - deltaY
      }
    },
    dragEnd(event) {
      event.preventDefault()
      this.dragFrom = null
    },
    moveTo(targetX, targetY) {
      gsap.to(this.viewBoxPosition, {
        duration: 0.5,
        x: targetX,
        y: targetY,
      })
    },
    crossingX(index) {
      let column = index % this.config.rowCount
      return this.config.startX + column * this.config.sheetWidth
    },
    crossingY(index) {
      let row = Math.floor(index / this.config.rowCount)
      return this.config.startY + row * this.config.sheetHeight
    },
  },
}
</script>

<style lang="scss" scoped>
.button-crossing {
  width: 3em;
  height: 1.8em;
}
</style>
