<template>
  <div id="app">
    <NavBar />
    <router-view class="content" />
    <footer class="footer">
      <p>
        By <a href="https://lukasiewicz.tech">Marek S. Łukasiewicz</a>
        2020, MIT License
      </p>
      <p>Chicken icon by tezar tantular from the Noun Project</p>
    </footer>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'

export default {
  components: {
    NavBar,
  },
}
</script>

<style lang="scss">
html,
body,
#app {
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: $color-black;
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
    margin: 20px 0px;

    a {
      color: inherit;
    }
  }
}
</style>
